/* *{
    outline: 1px solid red;
} */
body{
    min-height: 100vh;
}
nav{
    min-height: 8vh;
}
header{
    max-height: 52vh;
}
.headerSinBanner{
    min-height: 8vh;
}
main{
    min-height:40vh;
}
.mainSinBanner{
    min-height: 81.4vh;
}

.navbar-toggler,.navbar-toggler-icon, .seleccionado{
    color: #d90368!important;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: black;
}
.bg-dark{
    background-color: rgb(14, 13, 13) !important;
}

h1{
    color:white;
    text-shadow: 2px 2px 2px black;
    font-size: 3.5rem;
    z-index: 1;
    font-weight: bolder;
    position: absolute;
    padding: 0 1%;
    /* background-color: rgb(14, 13, 13); */
    /* border: 4px solid #d90368; */
    text-align: center;
    display: block;
}
.h1-home{
    left:calc(50vw - 88px);
}
.h1-upcoming, .h1-past{
    left:calc(50vw - 162.5px);
}
.h1-contact{
    left:calc(50vw - 160px);
}
.h1-stats{
    left:calc(50vw - 83.17px);
}

.img-carousel{
    height: 250px;
    object-fit: cover;
}
.btn{
    color:#d90368;
    border: 3px solid #d90368;
}
.btn:hover {
    color: white;
    background-color: #d90368;
    border-color: #d90368;
}

.card img{
    height: 170px;
    object-fit: cover;
}

.img-details{
    object-fit: cover;
}
.card-body .btn{
    background-color: black;
    color: white;
}
td,th{
    border: 1px solid black;
    height: 1rem;
    font-size: x-small;
    text-align: center;
}

.t-tabla{
    border: 2px solid #d90368;
    color:white;
    background-color: black;
}
.input-message{
    height: 11.1vh;
}

ul li{
    list-style-type: none;
}

footer{
    max-height: 8vh;
    padding: 1rem;
}
footer p{
    font-weight: bold;
    display:contents;
    justify-self: flex-end;
}

@media only screen and (min-width:321px) and (max-width:767px){
    .h1-home{
        left:calc(50vw - 88.6px);
    }
    .h1-upcoming{
        left:calc(50vw - 187.5px);
    }
    .h1-past{
        left:calc(50vw - 182.15px);
    }
    .h1-contact{
        left:calc(50vw - 176px);
    }
    .h1-stats{
        left:calc(50vw - 84.235px);
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .h1-home{
        left:calc(50vw - 92px);
    }
    .h1-upcoming{
        left:calc(50vw - 271.75px);
    }
    .h1-past{
        left:calc(50vw - 185.57px);
    }
    .h1-contact{
        left:calc(50vw - 179.42px);
    }
    .h1-stats{
        left:calc(50vw - 87.65px);
    }
    td,th{
        height: 1.42rem;
        font-size:small;
    }
    .img-footer{
        width: 50% !important;
    }
}
@media only screen and (min-width:1024px){
    .h1-home{
        left:calc(50vw - 94.615px);
    }
    .h1-upcoming{
        left:calc(50vw - 274.315px);
    }
    .h1-past{
        left:calc(50vw - 188.135px);
    }
    .h1-contact{
        left:calc(50vw - 181.985px);
    }
    .h1-stats{
        left:calc(50vw - 90.22px);
    }
    td,th{
        height: 1.42rem;
        font-size:small;
    }
    .img-footer{
        width: 50% !important;
    }
}